html {
  height: 100%;
  background: linear-gradient(180deg, #222326 0%, #1a1b1e 70%, #121316 100%);
  background-color: rgba(51, 51, 51, 1);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

#title {
  color: #2fdf65;
}

.regText {
  color: #eee;
  font-size: 18px;
}

.authButton {
  background-color: #1db954;
  border-color: rgb(21, 133, 60);
  border-radius: 500px;
  border-style: solid;
  color: rgb(248, 248, 248);
  cursor: pointer;
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  height: 65px;
  transition-duration: 0.3s, 0.3s, 0.3s, 0.3s, 0.3s;
  transition-property: background-color, border-color, color;
  vertical-align: middle;
  width: 250px;
}

.authButton:hover {
  background-color: #1ed760;
  border-color: rgb(26, 163, 74);
}

.authButton:active {
  background-color: #1aa34a;
  border-color: rgb(8, 53, 24);
}

#subtitle {
  color: #eee;
  padding-bottom: 40px;
}

.adminText {
  color: #526fff;
}

.errorText {
  color: #dc3545;
}

.shuffleButton {
  background-color: transparent;
  border-color: transparent;
  border-radius: 500px;
  border-style: solid;
  border-width: 3px;
  color: rgb(248, 248, 248);
  border-color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  height: 65px;
  transition-duration: 0.3s, 0.3s, 0.3s, 0.3s, 0.3s;
  transition-property: background-color, border-color, color;
  vertical-align: middle;
  width: 300px;
}

.shuffleButton:hover {
  background-color: rgba(255, 255, 255, 0.89);
  color: black;
}

.shuffleButton:active {
  background-color: rgba(255, 255, 255, 0.623);
  color: black;
}
